<!-- templates/registration/password_reset_email.html-->

{% load il8n %} {% autoescape off %}
{% trans "Hi" %} {{ user.get_username}}

{% trans "We've received a request to request to reset you password. 
If you didn't make this request,  you can safely ignore this email. Otherwise, click the button 
bello to reset you password." %}

{% block reset_link %}
    {{protocol}}://{{domain}}{% url 'password_reset_confirm'
    uidb64=uid token=token %}
{% endblock reset_link %}

{% endautoescape %}


